<!DOCTYPE html>
<html>
    <head>
        <title>Event Registration</title>
    </head>
    <body>
        <center>
            <form action="/submit" method="post">
                Enter User Name : <input type="text" name="username"><br><br>
                Enter Roll No. : <input type="text" name="rollno"><br><br>
                Enter Mail ID : <input type="email" name="email"><br><br>
                Academic Year:
                <select id="year" name="year">
                    <option value="1">I</option>
                    <option value="2">II</option>
                    <option value="3">III</option>
                    <option value="4">IV</option>
                </select><br><br>
                <input type="submit">
            </form>
    </center>
    </body>
</html>